{% extends 'music/base_visitor.html' %}
{% block title %}About Us{% endblock %}
{% block about_us %}active{% endblock %}

{% block body %}
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="card card-container">
                <h1 class="page-title" href="{% url 'music:index' %}"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span>&nbsp;Vibe</h1>
                <hr style="border: none; border-bottom: 1px solid black;">
                <h1 class="page-title">About Us</h1>
                <div class="panel-body">
                        <p><strong>Vibe.............</strong></p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}
